In [105]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

#### Paquete de tiempo
import datetime

from datetime import time
from datetime import timedelta

###Datos 11 de Diciembre 2020
data = pd.read_csv('cherry.txt', delim_whitespace =True)


#para ver los primeros datos
data.head()

   Actividad              Hora
0         75   11/12/2020T8:00
1         50  11/12/2020T15:00

In [106]:
##############################
########   Tc - 99m  ###########
### half life [min]
#HLTc= 6*60
HLTc=68
### Lambda
LambdaTc= np.log(2)/HLTc

In [115]:
#test='11/12/20 16:00'
test='11/12/20 8:01'


t=datetime.datetime.strptime(test,"%d/%m/%y %H:%M")
h=pd.to_datetime(data["Hora"],format="%d/%m/%YT%H:%M")

timeE=t-h

### Tiempo en minutos 
#data['timeE']=(timeE.dt.seconds)/60

In [116]:
listaE=timeE.dt.days<0        
tiempoE=timeE.dt.seconds
for i in range(len(listaE)):   
    if listaE[i]:
        timeE[i]=abs(t-h[i])
        
tiempoE=timeE.dt.seconds/60     
        
for i in range(len(listaE)):   
    if listaE[i]:
        tiempoE[i]= tiempoE[i]*(-1)

In [117]:
data['timeE']=tiempoE
tiempoE

0      1.0
1   -419.0
Name: Hora, dtype: float64

Porcentaje de decaimiento en 1 min de F-18, es de 0.6 % (0.6 %/min).


Porcentaje de decaimiento en 1 min de Ga-68, es de 1.0 % (1.0 %/min)

In [118]:
(0.6 *np.absolute(data['timeE']))

0      0.6
1    251.4
Name: timeE, dtype: float64

In [128]:
data[data['timeE']<0].index.tolist()
#data.loc[(data['timeE']<0)]

[1]

$$FD=e^{-\frac{ln 2}{T_{1/2}}t} $$

In [119]:
FD=np.exp(-LambdaTc*data['timeE'])

In [120]:
data['CorAct']=data['Actividad']*FD
FD

0     0.989858
1    71.593897
Name: timeE, dtype: float64

In [121]:
data['pordecae']=(1-FD)*100

In [122]:
data

   Actividad              Hora  timeE       CorAct     pordecae
0         75   11/12/2020T8:00    1.0    74.239383     1.014156
1         50  11/12/2020T15:00 -419.0  3579.694851 -7059.389702